dump*.imgfs

# Ignores images output by reads
*.jpg 
!brouillard.jpg
!coquelicots.jpg
!coquelicots_small.jpg
!coquelicots_thumb.jpg
!foret.jpg
!mure.jpg
!papillon.jpg
!papillon_small.jpg
!papillon_thumb.jpg
!pic1_orig.jpg
!pic1_small.jpg
